.content {
    margin-top: 4.7rem;
    margin-left: 3rem;
}

.--content-header {
    display: flex;
    gap: 4rem;
}

.--content-details {
    background-color: indigo;
    width: 15rem;
    border-radius: 20px;
    padding: 10px;
}

.--content-analytics {
    margin-right: 8.5rem;
}


.--content-data {
    margin-top: 4rem;
    width: 56rem;
}

.--content-data-header {
    display: flex;
    justify-content: space-between;
}

.--table-head {
    display: flex;
    gap: 7rem;
    /* justify-content: space-between; */
}

.--table-data {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.--table-data img {
    width: 3rem;
    height: 2.5rem;
    border-radius: 5px;
}